:root {
  --primary-color: #343131;
  --primary-color-inputs: #4e4747;
  --primary-color-dark: #292525;
  --secondary-color: #A04747;
  --accent-color: #EEDF7A;
  --text-color: #F4F6FF;
  --regular-padding: 12px;
  --child-padding: 8px;
  --input-padding: 4px;
}

* {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--primary-color-dark);
  width: 100%;
  height: 100%;
}

h1 , h2, h3, p, input, textarea {
  color: var(--text-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: var(--regular-padding);
  background-color: var(--primary-color);
}

input, textarea {
  width: 100%;
  text-wrap: wrap;

  border: var(--accent-color) solid 3px;
  background-color: var(--primary-color-inputs);
  padding: var(--input-padding);
  border-radius: 5px;
}

.note-search-form {
  height: 3vh;
  width: 30vw;
  display: flex;
  align-items: center;
}

.note-app {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--regular-padding);
  width: 100%;
  height: 100%;
  gap: 16px;
}

.note-input {
  display: flex;  
  flex-direction: column;

  padding: var(--child-padding);
  gap: 4px;
  width: 40%;
  height: 40vh;
}

.note-input__form {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 8px;
}

.note-input-title-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  gap: 4px;

  input {
    height: 100%;
  }
}

.body-input {
  height: 100%;
  resize: vertical;
  text-align: left;
  resize: none;
}

.submit-button {
  border: var(--accent-color) 2px solid;
  border-radius: 3px;
  background-color: var(--secondary-color);
  padding: var(--input-padding);

  font-weight: bold;
  color: var(--text-color);
}

.note-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 60%;
  padding: var(--regular-padding);
}

.note-list__active, .note-list__archive {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: var(--child-padding);
}

.note-list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--child-padding);
  gap: 12px;
}

.note-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 20%;
  max-width: 275px;

  border: var(--accent-color) 4px solid;
  border-radius: 4px;
  background-color: var(--primary-color);
  padding: var(--child-padding);
}

.note-item__header p {
  font-size: 80%;
  opacity: 80%;
}

.note-item__body {
  word-wrap: break-word;
  height: 100%;
}

.note-item__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.note-item__delete, .note-item__archive  {
  width: 50%;
  padding: 4px;
  background-color: var(--primary-color-inputs);
  font-weight: bold;
}

.note-item__delete {
  border: var(--secondary-color) 2px solid;
  color: red;
  border-radius: 2px;
}

.note-item__archive {
  border: var(--accent-color) 2px solid;
  color: yellow;
  border-radius: 2px;
}

